html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  font-weight: lighter;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-style: normal;
  font-size: 1.5rem;
}

article p {
  font-style: italic;
  font-size: 1.125rem;
}

.quote {
  font-weight: lighter;
}

body {
  margin: 1em;
}

article {}

article header {}

article h1 {}

article header p {}

article ol {}

blockquote {}
